@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');



body {
  font-family: 'Roboto', sans-serif;
}

.p {
  line-height: 1.8;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

img {
  max-width: 100%;
  min-width: 20%;
}
ul {
  list-style-type: none;
}
.heading {
  font-family: 'Cabin', sans-serif;
  font-weight: 800;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

 